<h1>Contacts#index</h1>
<!-- <p>Find me in app/views/contacts/index.html.erb</p> -->

<%= form_for :contact do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>